.borderedpicture3 {
  background-color: #7d7d7d;
  background-image: url("border.png");
  width: 70%;
  max-width: 70%;
  height: auto;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
      rgba(0, 0, 0, 0.19);
}
