/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

$font-family-sans-serif: "Play", sans-serif;
// $presentation-heading-color: #7090A5;
// $presentation-title-slide-text-align: "left";
